.pyg_view{
    padding:  10px ;
    .tools{
        padding:  15px 5px ;
        width: 100%;
        display: flex ;
        .mui-btn {
            width: 50% ;
            margin-bottom: 10px ;
            padding: 13px 0 ;
            font-size: 18px ;
        }
    }
    #dialogDemo{
        position: relative;
 
    }

}
#toastBtn{
    position: absolute ;
    top:  0 ;
    right:  13px  ;
    z-index: 99999999999 ;
    width: auto ;
}  